In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [3]:
p = pd.read_csv('./data/2번군집.csv',encoding='cp949')
p = p.set_index('고객번호')
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [4]:
a_col = a.loc[(a['소비재분류']=='전문품') | (a['소비재분류']=='선매품')]['소분류명'].values
a_col

array(['건강식품(홍삼)', '건강식품', '건강식품(비타민)', ..., '보안용품', '여행용소품', '손난로/핫팩'],
      dtype=object)

In [5]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['14K', '2단우산', '3단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [6]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   0,    6,    7, ..., 3517, 3518, 3519], dtype=int64)

In [7]:
p_col[ili]

array(['14K', 'ACC Bloom (1F)', 'ACC Bloom (3F)', ..., '히터', '히터기',
       '힐앤토트'], dtype='<U18')

In [8]:
p = p[p_col[ili]]
p

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

고객번호,4,10,13,14,15,20,21,27,34,50,...,19274,19276,19278,19286,19289,19293,19301,19310,19311,19322
14K,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (1F),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (3F),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(1218, 1218)

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
14K,1.000000,0.02621,0.150199,0.029466,0.129441,0.013748,0.029884,0.103037,0.0,0.173255,...,0.009094,0.007681,0.034698,0.047983,0.0,0.0,0.0,0.0,0.0,0.074835
ACC Bloom (1F),0.026210,1.00000,0.058220,0.000000,0.000000,0.060523,0.000000,0.055401,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.167716
ACC Bloom (3F),0.150199,0.05822,1.000000,0.000000,0.166278,0.026176,0.000000,0.107822,0.0,0.000000,...,0.000000,0.007800,0.017234,0.000000,0.0,0.0,0.0,0.0,0.0,0.018134

In [11]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["AK골프"].sort_values(ascending=False)[1:6]

유아복      0.271847
오클리      0.253546
나이키골프    0.222718
아동신발     0.152242
캘러웨이     0.144005
Name: AK골프, dtype: float64

In [12]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [13]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_12436/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,0.534105,0.239959,0.610132,0.354732,0.476182,0.360759,0.237004,0.522870,0.141452,0.316985,...,0.339915,0.161078,0.403446,0.492043,0.568343,0.410585,NaN,0.108761,NaN,0.284104
10,0.269226,0.176397,0.286182,0.116657,0.168817,0.159356,0.091200,0.249935,0.056826,0.162506,...,0.096975,0.076862,0.156818,0.166754,0.273026,0.197602,NaN,0.175442,NaN,0.159439
13,0.215324,0.113748,0.239807,0.058117,0.174923,0.127624,0.105306,0.220355,0.164946,0.226238,...,0.114478,0.133932,0.126002,0.158430,0.259714,0.081386,NaN,0.052561,NaN,0.118783

In [14]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 22.863326456914873

In [15]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [16]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_12436/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_12436/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_12436/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 13.865964608597341

In [17]:
p_pred_matrix

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,1.636035,0.000000,1.081348,0.071280,0.360280,0.064196,0.082099,1.126097,0.051295,0.097842,...,0.000000,0.070111,0.421972,0.247944,0.409901,0.197469,NaN,0.047206,NaN,0.000000
10,1.364028,0.049299,0.843585,0.017820,0.051850,0.000000,0.000000,0.664829,0.000000,0.024460,...,0.000000,0.056740,0.105207,0.000000,0.227482,0.137412,NaN,0.197227,NaN,0.000000
13,0.938369,0.000000,0.656627,0.020122,0.124030,0.000000,0.050905,0.679888,0.090343,0.140537,...,0.000000,0.143938,0.030079,0.119912,0.245380,0.000000,NaN,0.010899,NaN,0.000000
14,0.629945,0.443688,0.605180,0.071492,0.277388,0.024760,0.025418,0.482502,0.379630,0.355065,...,0.000000,0.034458,0.148156,1.922345,0.383733,0.853492,NaN,0.000000,NaN,0.361186
15,1.213825,0.147896,1.113613,0.018032,0.166411,0.276574,0.025418,0.728863,0.000000,0.000000,...,0.000000,0.031236,0.168608,0.176344,0.113273,0.567011,NaN,0.011606,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.040745,0.000000,0.032879,0.000000,0.000000,0.000000,0.000000,0.045893,0.020562,0.021003,...,0.077869,0.737135,0.000000,0.000000,0.170668,0.000000,NaN,0.034881,NaN,0.000000
19301,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.018223,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,0.000000
19310,1.881308,0.000000,0.484016,0.254831,0.776625,0.631361,0.000000,0.953501,0.000000,0.149852,...,0.000000,0.000000,0.363771,0.596987,0.705683,0.773682,NaN,0.000000,NaN,0.174675
19311,0.091430,0.000000,0.037064,0.017820,0.027044,0.000000,0.000000,0.042001,0.000000,0.052554,...,0.000000,0.250429,0.105207,0.000000,0.000000,0.020401,NaN,0.014291,NaN,0.000000
19322,0.080731,0.000000,0.000000,0.000000,0.339825,0.022624,0.000000,0.000000,0.026591,0.000000,...,0.053799,0.844906,0.000000,0.456768,1.021733,0.000000,NaN,0.041619,NaN,0.000000

In [18]:
user_p_id =p.loc[13,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

색조 화장품     7.0
양말(특정)     5.0
일회용품       4.5
스카프(특정)    4.0
커리어        4.0
영밸류 캐주얼    3.0
남성캐주얼      3.0
란제리        2.0
슈케어용품      2.0
전구         2.0
Name: 13, dtype: float64

In [19]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [32]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,10)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 10, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

            pred_score
기초A           1.489021
14K           1.364028
캐주얼화          1.223649
global 편집샵    1.216050
향수            1.183108
수입ACC         1.109740
기타            1.093819
선글라스(특정)      1.072433
네셔널           1.068822
구두단기행사        0.999580
스카프(특정)       0.972035
이지캐주얼         0.969399
보석            0.967276
패션내의          0.953537
장갑(특정)        0.948309
컬처캐주얼         0.943342
MP3 外         0.918618
식기단기행사        0.912509
손수건(특정)       0.911630
숙녀고정행사        0.903874

In [30]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:5]

고객번호를 입력하세요:10

                추천점수
기초A         1.489021
14K         1.364028
캐주얼화        1.223649
global 편집샵  1.216050
향수          1.183108

In [ ]:
# 여기까지가 2번군집 일반추천

In [33]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,10)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 10, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

            pred_score
기초A           1.489021
14K           1.364028
캐주얼화          1.223649
global 편집샵    1.216050
향수            1.183108
수입ACC         1.109740
기타            1.093819
선글라스(특정)      1.072433
네셔널           1.068822
구두단기행사        0.999580
스카프(특정)       0.972035
이지캐주얼         0.969399
보석            0.967276
패션내의          0.953537
장갑(특정)        0.948309
컬처캐주얼         0.943342
MP3 外         0.918618
식기단기행사        0.912509
손수건(특정)       0.911630
숙녀고정행사        0.903874

In [34]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)
# df['할인여부_y'].sum()
df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,244).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호           index  할인여부_y 할인율_y
0                14K     0.0   0.0
1     ACC Bloom (1F)     1.0   25%
2     ACC Bloom (3F)     0.0   0.0
3               AK골프     0.0   0.0
4               ANDZ     0.0   0.0
...              ...     ...   ...
1213            휴고보스     1.0   10%
1214          휴고보스골프     0.0   0.0
1215              히터     0.0   0.0
1216             히터기     0.0   0.0
1217            힐앤토트     1.0   25%

[1218 rows x 3 columns]

In [35]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

        품목명      평가점수  할인여부  할인율
4        향수  1.183108   1.0  34%
6        기타  1.093819   1.0  12%
10  스카프(특정)  0.972035   1.0  24%

In [21]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,10)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 10, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('./data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('./data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

             pred_score
쪽파류           25.944768
냉동베리류         25.169386
햄통조림          25.040067
일반메추리알        24.904974
건나물류          24.884587
단무지           24.737610
기타분말류         24.455818
수세미/솔         23.571249
섬유유연제/향기지속제   23.221640
양송이버섯류        23.159591

            추천점수
일반가공식품  1.000000
농산가공    0.823627
위생세제    0.811645
채소      0.790006
유제품     0.759820
냉동식품    0.713965
청과      0.712955
일용잡화    0.696071
수입식품    0.660439
음료      0.659902

In [22]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [23]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [34]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

MemoryError: Unable to allocate 2.00 KiB for an array with shape (256,) and data type int64

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr