In [1]:
import pandas as pd
import numpy as np

In [3]:
p = pd.read_csv('./data/2번군집.csv',encoding='cp949')
p = p.set_index('고객번호')
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
19310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19311,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19322,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0

In [4]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

고객번호,4,10,13,14,15,20,21,27,34,50,...,19274,19276,19278,19286,19289,19293,19301,19310,19311,19322
14K,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3단우산,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(3520, 3520)

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
14K,1.000000,0.012628,0.020148,0.034783,0.212301,0.12251,0.02621,0.150199,0.029466,0.129441,...,0.0,0.0,0.090041,0.057608,0.019315,0.034065,0.036538,0.0,0.0,0.074835
2단우산,0.012628,1.000000,0.128206,0.007478,0.004248,0.00000,0.00000,0.004007,0.000000,0.000000,...,0.0,0.0,0.016139,0.021627,0.070930,0.019705,0.022582,0.0,0.0,0.000000
3단우산,0.020148,0.128206,1.000000,0.016062,0.016944,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.020702,0.070241,0.027946,0.013920,0.0,0.0,0.000000

In [6]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["AK골프"].sort_values(ascending=False)[1:6]

유아복         0.271847
오클리         0.253546
나이키골프       0.222718
식당가 레스토랑    0.176706
아동신발        0.152242
Name: AK골프, dtype: float64

In [7]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [8]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_9924/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,1.082994,0.391490,0.369022,0.246275,0.745010,0.528076,0.716776,1.236258,1.026215,0.621954,...,0.415341,NaN,1.635382,0.307172,0.344536,0.246353,0.256421,0.224765,NaN,1.208400
10,1.197087,3.291654,3.412073,1.218811,1.293522,0.858741,1.225928,1.191726,0.304150,1.260661,...,1.136805,NaN,0.912615,1.210107,4.222983,1.294771,1.303681,3.514620,NaN,1.141448
13,1.474818,1.242112,1.103177,2.040479,1.549160,0.803601,1.538665,1.596575,0.828183,1.430883,...,1.449346,NaN,1.734230,1.649454,1.120580,1.929491,1.945190,0.981037,NaN,1.295912

In [9]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 79.28961248794086

In [10]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [11]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\dlwog\AppData\Local\Temp/ipykernel_9924/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\dlwog\AppData\Local\Temp/ipykernel_9924/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\dlwog\AppData\Local\Temp/ipykernel_9924/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 60.1815628060771

In [12]:
p_pred_matrix

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
4,2.196107,0.106476,0.623491,0.048684,1.704636,0.436972,0.000000,2.544300,0.000000,0.303497,...,0.072537,NaN,5.324272,0.133664,0.648318,0.103473,0.000000,0.000000,NaN,0.239850
10,1.284570,7.346520,11.305734,0.379899,0.685804,0.000000,0.048212,0.813387,0.000000,0.026420,...,0.124266,NaN,0.817794,0.614517,17.297028,1.793769,2.402798,0.426122,NaN,0.000000
13,1.337930,0.525173,1.090264,11.181969,0.701441,0.052410,0.000000,2.175498,0.018697,0.000000,...,0.338585,NaN,5.403177,1.708225,0.737295,6.999821,7.115784,0.000000,NaN,0.034264
14,1.109921,1.401580,1.225590,1.177536,0.919785,0.804565,0.433912,2.226945,0.208138,0.246751,...,0.068176,NaN,6.562766,0.959603,2.366745,0.586251,0.369690,0.038871,NaN,0.208530
15,1.212596,0.188927,0.308910,2.064666,1.468300,0.020964,0.144637,1.870042,0.000000,0.162569,...,0.064207,NaN,2.242560,1.119296,0.265754,2.165959,1.262093,0.000000,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19293,0.040703,0.066968,0.212783,4.985127,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.131140,NaN,0.044646,2.462900,0.050808,5.268660,2.661918,0.000000,NaN,0.000000
19301,0.000000,0.169193,0.447717,4.385909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.331699,NaN,0.044646,3.132726,0.094386,3.986256,5.792026,0.000000,NaN,0.000000
19310,1.879402,0.039148,0.153787,0.000000,1.941953,0.049689,0.000000,0.412708,6.533847,0.758698,...,0.000000,NaN,0.491640,0.000000,0.088343,0.000000,0.000000,0.000000,NaN,0.180664
19311,0.091337,0.102438,0.886120,14.866096,0.181584,0.125785,0.000000,0.036730,0.000000,0.026420,...,0.118032,NaN,0.038453,2.616740,0.000000,10.471813,4.436917,0.000000,NaN,0.000000
19322,0.080649,0.068224,0.070973,2.458051,0.645203,0.062892,0.000000,0.000000,0.000000,0.331981,...,0.179885,NaN,0.000000,3.011271,0.000000,4.173789,2.123397,0.000000,NaN,0.000000

In [13]:
user_p_id =p.loc[4,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

청과        45.0
유제품       44.0
즉석반찬      37.0
채소        31.0
규격김치      31.0
디저트류      28.0
농산가공      26.0
식당가 양식    18.0
유기농채소     17.0
식당가 한식    17.0
Name: 4, dtype: float64

In [14]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [15]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,4)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 4, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

        pred_score
양념육      13.184155
음료       12.871375
전문베이커리   12.846897
규격젓갈     11.975934
건생선      11.632834
제과제빵     11.515786
냉동식품     11.347646
곡물       11.164749
계육       10.978101
수입육      10.874894
양과자류     10.606896
돈육       10.431393
수입단기행사   10.397114
안주류      10.235245
가공행사     10.012556
건어물류      9.916478
단기행사      9.776872
친환경올가     9.753139
수산단기행사    9.680930
식당가 중식    9.511824

In [21]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:5]

고객번호를 입력하세요:4

             추천점수
양념육     13.184155
음료      12.871375
전문베이커리  12.846897
규격젓갈    11.975934
건생선     11.632834

In [ ]:
# 여기까지가 2번군집 일반추천

In [22]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,4)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 4, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

        pred_score
양념육      13.184155
음료       12.871375
전문베이커리   12.846897
규격젓갈     11.975934
건생선      11.632834
제과제빵     11.515786
냉동식품     11.347646
곡물       11.164749
계육       10.978101
수입육      10.874894
양과자류     10.606896
돈육       10.431393
수입단기행사   10.397114
안주류      10.235245
가공행사     10.012556
건어물류      9.916478
단기행사      9.776872
친환경올가     9.753139
수산단기행사    9.680930
식당가 중식    9.511824

In [25]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)

df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,704).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호   index  할인여부_y 할인율_y
0        14K     1.0   32%
1       2단우산     0.0   0.0
2       3단우산     1.0   20%
3      3분요리류     0.0   0.0
4     4대 B/D     1.0   16%
...      ...     ...   ...
3515     흑미류     0.0   0.0
3516   흰다리새우     0.0   0.0
3517      히터     1.0   25%
3518     히터기     0.0   0.0
3519    힐앤토트     0.0   0.0

[3520 rows x 3 columns]

In [27]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res.head(6)

    품목명       평가점수  할인여부  할인율
0   양념육  13.184155   1.0  20%
6  냉동식품  11.347646   1.0  10%

In [20]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,4)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 4, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('C:/cakd5/workspace/project/data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('C:/cakd5/workspace/project/data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

             pred_score
쪽파류           25.944768
냉동베리류         25.169386
햄통조림          25.040067
일반메추리알        24.904974
건나물류          24.884587
단무지           24.737610
기타분말류         24.455818
수세미/솔         23.571249
섬유유연제/향기지속제   23.221640
양송이버섯류        23.159591

            추천점수
중식델리    1.000000
서양델리    0.489248
일식델리    0.484952
한식델리    0.447921
디저트류    0.418802
제과제빵    0.405461
청과      0.398803
수입식품    0.390161
에스닉푸드   0.380256
전문베이커리  0.364490

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr