In [1]:
import pandas as pd
import numpy as np

In [16]:
a = pd.read_csv('./data/PRODCL2.csv')
a

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [19]:
p = pd.read_csv('./data/3번군집.csv',encoding='cp949')
p = p.set_index('고객번호')
p

,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [22]:
a_col = a.loc[a['소비재분류']=='선매품']['소분류명'].values
a_col

array(['건강식품(홍삼)', '건강식품', '건강식품(비타민)', ..., '보안용품', '여행용소품', '손난로/핫팩'],
      dtype=object)

In [23]:
p_col = np.array(p.columns.to_list()) 
p_col

array(['14K', '2단우산', '3단우산', ..., '히터', '히터기', '힐앤토트'], dtype='<U18')

In [24]:
ili = np.where(np.isin(p_col, a_col)==True)[0]
ili

array([   0,    6,    7, ..., 3509, 3517, 3518], dtype=int64)

In [25]:
p_col[ili]

array(['14K', 'ACC Bloom (1F)', 'ACC Bloom (3F)', ..., '휴고보스골프', '히터',
       '히터기'], dtype='<U18')

In [26]:
p = p[p_col[ili]]
p

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# 코사인 유사도를 하기 위해서 전치 행렬을 구하는 단계 
p_T = p.transpose()
p_T.head(3)

고객번호,1,2,17,18,19,26,36,39,46,47,...,19279,19280,19282,19290,19297,19298,19304,19314,19325,19334
14K,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,29.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (1F),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ACC Bloom (3F),0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
# 코사인 유사도를 구하는 코드 
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(p_T,p_T)
# 코사인 유사도 만든 행렬을 데이터프레임으로 변환 
item_sim_df = pd.DataFrame(data=item_sim, index = p.columns,
                          columns=p.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(1179, 1179)

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
14K,1.000000,0.007743,0.120741,0.003085,0.115735,0.029083,0.060186,0.082264,0.0,0.026213,...,0.013578,0.0,0.03082,0.021428,0.037423,0.016858,0.014428,0.0,0.0,0.0
ACC Bloom (1F),0.007743,1.000000,0.015389,0.000000,0.000000,0.000000,0.000000,0.096589,0.0,0.000000,...,0.012235,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
ACC Bloom (3F),0.120741,0.015389,1.000000,0.000000,0.014180,0.006503,0.016692,0.200667,0.0,0.000000,...,0.023536,0.0,0.01021,0.013218,0.023084,0.037696,0.004301,0.0,0.0,0.0

In [29]:
# 예시적으로 기호품등급에 유사도가 높은 상위 6개 추출 
item_sim_df["AK골프"].sort_values(ascending=False)[1:6]

커리어 행사    0.755929
김영주골프     0.494872
르꼬끄골프     0.243143
지오투       0.239046
국산도자기     0.220427
Name: AK골프, dtype: float64

In [30]:
# 코사인유사도 내적곱한값을 코사인 유사도 절대값의 합으로 나눈 거(정규화를위해서)
import numpy as np
def predict_p(p_arr, item_sim_arr):
    p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])
    return p_pred

In [31]:
# 개인별 상품 예측 
p_pred = predict_p(p.values, item_sim_df.values)
p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index,\
                            columns = p.columns)
p_pred_matrix.head(3)

C:\Users\danie\AppData\Local\Temp/ipykernel_10832/674637514.py:4: RuntimeWarning: invalid value encountered in true_divide
  p_pred = p_arr.dot(item_sim_arr)/np.array([np.abs(item_sim_arr).sum(axis=1)])

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
고객번호,,,,,,,,,,,,,,,,,,,,,
1,1.477911,0.369530,1.580556,0.967729,1.088141,1.052649,1.158778,1.339232,0.043682,1.174841,...,1.643290,0.579999,0.423876,0.950572,1.629264,0.940610,1.168728,0.781655,0.422308,NaN
2,1.286219,0.335428,1.286567,0.964198,0.919410,0.979891,0.910758,1.139757,0.035117,1.028423,...,1.229456,0.835063,0.414212,1.051963,1.510196,1.045822,1.019619,0.546227,1.050882,NaN
17,0.475282,1.203556,0.471918,0.260781,0.318365,0.546759,0.344491,0.420639,0.037607,0.311302,...,1.040713,0.164185,0.154156,0.295846,0.439484,0.450891,0.474552,0.245264,0.158996,NaN

In [32]:
from sklearn.metrics import mean_squared_error

# mse =실제와 예측 점수차이 비교 
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred,actual)

print('아이템 기반 모든 최근접 이웃 MSE:', get_mse(p_pred, p.values))

아이템 기반 모든 최근접 이웃 MSE: 60.23582021536381

In [33]:
def predict_p_topsim(p_arr, item_sim_arr, n =20):
    pred = np.zeros(p_arr.shape)
    
    for col in range(p_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        for row in range(p_arr.shape[0]):
            pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
            
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
            
    return pred

In [34]:

p_pred = predict_p_topsim(p.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE:', get_mse(p_pred, p.values))

p_pred_matrix = pd.DataFrame(data=p_pred, index = p.index, columns=p.columns)

C:\Users\danie\AppData\Local\Temp/ipykernel_10832/4050495572.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col,:][top_n_items].dot(p_arr[row,:][top_n_items].T)
C:\Users\danie\AppData\Local\Temp/ipykernel_10832/4050495572.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))
C:\Users\danie\AppData\Local\Temp/ipykernel_10832/4050495572.py:9: RuntimeWarning: invalid value encountered in double_scalars
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_items]))

아이템 기반 최근접 TOP-20 이웃 MSE: 38.68338064147737

In [35]:
p_pred_matrix

,14K,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,ARCHIV,BON,Bag&Bag,DIY가전,DKNY,...,화장품,황기,황토침구,휘트니스,휠라골프,휠라아웃도어,휴고보스,휴고보스골프,히터,히터기
고객번호,,,,,,,,,,,,,,,,,,,,,
1,4.057662,0.017823,4.497303,0.328303,0.509554,0.067030,0.615258,2.970899,0.000000,0.122853,...,1.920231,0.054238,0.000000,0.780463,2.281740,0.166738,0.573240,0.057692,0.049585,NaN
2,4.756533,0.000000,2.711580,0.267218,0.159524,0.218977,0.031741,3.382878,0.000000,0.041916,...,0.893707,0.510565,0.088825,0.895378,1.927413,0.200701,0.022633,0.000000,0.891058,NaN
17,1.797565,1.175385,0.713578,0.071063,0.067081,0.670795,0.091542,0.784802,0.042827,0.024571,...,1.775392,0.046736,0.080668,0.373344,0.244784,0.057703,0.114515,0.000000,0.037189,NaN
18,3.680846,0.000000,2.566617,0.000000,0.836247,0.000000,0.061601,3.111521,0.000000,0.024571,...,0.179750,0.083292,0.000000,0.290192,1.073684,0.580199,0.021048,0.000000,0.150007,NaN
19,2.038828,0.000000,1.082090,0.067911,0.030509,0.026639,0.000000,1.051267,0.000000,0.000000,...,0.047699,0.232147,0.000000,0.098232,0.918306,0.042404,0.022633,0.000000,0.181624,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19298,0.943819,0.000000,0.832130,0.022025,0.000000,0.000000,0.000000,0.778998,0.000000,0.026299,...,0.000000,0.000000,0.166790,0.187225,0.094002,0.000000,0.050015,0.102001,0.049585,NaN
19304,4.979007,0.000000,2.717655,0.137138,0.321998,0.000000,0.000000,3.304695,0.000000,0.000000,...,0.564561,0.064477,0.000000,0.464156,0.422070,0.055752,0.090533,0.060196,0.086774,NaN
19314,2.286562,0.000000,2.089092,0.088099,0.611057,3.251651,0.028060,1.283126,0.000000,0.000000,...,0.881912,0.060376,0.000000,0.436165,0.613620,0.094958,0.549383,0.047880,0.081104,NaN
19325,1.501843,0.000000,1.033466,0.000000,0.067458,0.649940,0.044257,0.905456,0.000000,0.023634,...,0.103543,0.033318,0.000000,0.560004,0.132920,0.021953,0.025533,0.000000,0.040601,NaN
19334,0.000000,0.000000,0.000000,0.000000,0.105318,0.000000,0.032115,0.000000,0.066148,0.026299,...,0.000000,0.032992,0.115592,0.000000,0.000000,0.000000,0.000000,0.000000,0.011152,NaN

In [36]:
user_p_id =p.loc[17,:]
user_p_id[user_p_id > 0].sort_values(ascending=False)[:10]

기타(가발포장담배연구사진수선)    40.0
영플라자(기타)            20.0
기초 화장품              12.0
색조 화장품              10.0
global SPA           6.0
수입화                  5.0
금강그룹                 5.0
캐릭터캐주얼               5.0
란제리                  3.0
엘레강스                 3.0
Name: 17, dtype: float64

In [37]:

def get_notbuy_product(p,고객번호):
    user_p = p.loc[고객번호,:]

    already_buy = user_p[user_p > 0].index.tolist()

    p3_list = p.columns.tolist()

    notbuy_list = [pro for pro in p3_list if pro not in already_buy]
    
    return notbuy_list

In [38]:
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,17)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 17, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

           pred_score
무인양품         3.077807
디자이너부틱       2.801240
야외용테이블       2.777768
기타           2.175900
수입캐릭터        2.117521
헤어           2.091614
구두시즌         1.974697
기초A          1.896605
14K          1.797565
화장품          1.775392
캐주얼화         1.736674
영 캐릭터        1.718845
수입브릿지        1.692423
MP3 外        1.650552
캐릭터 여화       1.582753
영스트리트        1.579989
SPACE 5.1    1.578916
영 컨템포러리      1.553166
어반캐주얼        1.540868
장갑(특정)       1.494210

In [42]:
#응용구현 1 고객번호 검색
s = int(input('고객번호를 입력하세요:'))
notbuy_list = get_notbuy_product(p,s)
recomm_pr = recomm_pr_by_userid(p_pred_matrix,s, notbuy_list, top_n=20)
recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['추천점수'])
recomm_pr[:10]

고객번호를 입력하세요:1

                    추천점수
디자이너            5.728860
향수              5.044043
영 컨템포러리         4.878279
기타              4.821546
닥스              4.792720
지이크             4.604151
구두시즌            4.592024
패션내의            4.509761
ACC Bloom (3F)  4.497303
마에스트로           4.430382

In [ ]:
# 여기까지가 3번군집 일반추천

In [41]:
#응용구현 2 맞춤할인 검색
def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,1)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 1, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr

                pred_score
디자이너              5.728860
향수                5.044043
영 컨템포러리           4.878279
기타                4.821546
닥스                4.792720
지이크               4.604151
구두시즌              4.592024
패션내의              4.509761
ACC Bloom (3F)    4.497303
마에스트로             4.430382
장갑(특정)            4.422829
에디션               4.251222
갤럭시라이프스타일         4.217588
홈웨어               4.205603
손수건(특정)           4.190189
헤지스상품군            4.120704
14K               4.057662
우/양산(특정)          3.964713
캐주얼화              3.963247
소품가구              3.917645

In [45]:
p_T[['할인여부','할인율']]=0
sale=p_T.iloc[:,-2:]
sale.reset_index(inplace=True)

aa=sale.sample(frac=0.2)
aa['할인여부']=1

df=pd.merge(sale,aa, on='index',how='left')
df=df[['index','할인여부_y','할인율_y']]
df.fillna(0,inplace=True)
# df['할인여부_y'].sum()
df.loc[df['할인여부_y']==1,'할인율_y']=np.random.randint(10,40,236).astype(str)
df.loc[df['할인여부_y']==1,'할인율_y']=df.loc[df['할인여부_y']==1,'할인율_y']+'%'
df[df['할인여부_y']==1]
df

고객번호           index  할인여부_y 할인율_y
0                14K     0.0   0.0
1     ACC Bloom (1F)     0.0   0.0
2     ACC Bloom (3F)     0.0   0.0
3               AK골프     0.0   0.0
4               ANDZ     0.0   0.0
...              ...     ...   ...
1174          휠라아웃도어     0.0   0.0
1175            휴고보스     0.0   0.0
1176          휴고보스골프     0.0   0.0
1177              히터     0.0   0.0
1178             히터기     0.0   0.0

[1179 rows x 3 columns]

In [46]:
res=pd.merge(recomm_pr.reset_index(),df[df['할인여부_y']==1], on='index',how='left').dropna()
res.columns=['품목명','평가점수','할인여부','할인율']
res

        품목명      평가점수  할인여부  할인율
0      디자이너  5.728860   1.0  17%
3        기타  4.821546   1.0  36%
9     마에스트로  4.430382   1.0  26%
10   장갑(특정)  4.422829   1.0  27%
11      에디션  4.251222   1.0  34%
14  손수건(특정)  4.190189   1.0  35%
18     캐주얼화  3.963247   1.0  28%
19     소품가구  3.917645   1.0  18%

In [47]:
#응용구현 3 최근성 추가

def recomm_pr_by_userid(pred_df,고객번호, notbuy_list, top_n=20):
    recomm_pr = pred_df.loc[고객번호,notbuy_list].sort_values(ascending=False)[:top_n]
    return recomm_pr

notbuy_list = get_notbuy_product(p,18)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 18, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,columns=['pred_score'])
display(recomm_pr[:10])


re= pd.read_csv('./data/추천최근.csv',encoding='cp949')
df_cust=pd.read_csv('./data/PRODCL2.csv',encoding = 'utf8')
df_cust = df_cust[['소분류코드','소분류명']]
df_cust = df_cust.set_index('소분류코드')

def re_pro(num):
    li=re.loc[re['고객번호']==num,'소분류코드'].tolist()
    item_Id = np.random.choice(li)
    item = df_cust.loc[item_Id,'소분류명']
    item_se = item_sim_df[item].sort_values(ascending=False)[:10]
    recomm_pr = pd.DataFrame(data=item_se.values, index = item_se.index,columns=['추천점수'])
    display(recomm_pr)
    
re_pro(50)

             pred_score
모피             4.682681
L.B            4.661297
손수건(특정)        4.660400
향수             4.492177
스타킹(특정)        4.404627
수입화            4.310103
수입ACC          4.295766
Knit & Knot    4.288119
장갑(특정)         4.263659
색조 화장품         4.245502

KeyError: '일반가공식품'

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
# 확률적 경사하강법을 이용한 행렬 분해

#경사하강법 = '점진적으로'반복적인 계산을 통해 \파라미터 값을 업데이트하면서 오류값이 최소가 되는 \파라미터 구하는 방식
#' 데이러를 기반으로 알고리즘이 스스로학습한다',는 머신러닝의 개념을 가능하게해준 핵심기법

def get_rmse(R, P, Q, non_zeros):             # R= 실제행렬값   p,q = 분해된 행렬값(?)  # get_rms = 실제행렬과 예측 행렬의오차를구하는 함수
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P,Q.T)                                # P와 Q.T를 dot(내적) = 예측 R행렬 
    
    # 실제 R 행렬에서 NULL이 아닌 값의 위치 인덱스 추출하여 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]   # ( non_zeros안에  non_zero를 0을 제외하고 반복적으로 수행)
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]   #(non_zeros안에 non_zero를  0부터 추출한다(?))
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind,y_non_zero_ind] # 예측 R행렬 full_pred_matrix에 (x,y)을 넣고
     
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros) # mse = mse(실제행렬, 예측행렬)
    rmse = np.sqrt(mse)    # rmse 는 mse에 루트
    
    return rmse

In [ ]:
# 행렬 분해
# 책에서 이미 설정해놓은것  R  = 사용자-아이템 평점 행렬 k = 잠재요인  learning_rate=학습률 r_lambda = L2규제계수
# matrix_factorization = 행렬 분해 로직 

def matrix_factorization(R, K, steps=100, learning_rate=0.01, r_lambda=0.01):            
    num_users, num_items = R.shape                         # 사용자-아이템 평점 행렬의 컬럼이 num_users, num_items 다(?)
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size = (num_users,K))   #P = 정규분포 (scale=1./K, size = (num_users,K)
    Q = np.random.normal(scale=1./K, size = (num_items,K))    #Q = 정규분포 (scale=1./K, size = (num_users,K)
    
    prev_rmse=10000                   # 설명을 할수가없다 (그냥 대입이라서)
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]   # 
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트   SGD(경사하강법)
    for step in range(steps):  # steps는 SGD의 반복횟수      
        for i, j, r in non_zeros:                                       # 
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i,:],Q[j,:].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate*(eij * Q[j,:] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate*(eij * P[i,:] - r_lambda*Q[j,:])
            
        rmse = get_rmse(R,P,Q, non_zeros)
        if ( step % 10) == 0: # 10회 반복할 때마다 오류 값 출력
            print(f'iteration step: {step}, rmse: {rmse}')
    return P, Q

In [ ]:
p= pd.read_csv('./data/test21.csv',encoding='cp949')

p = p.set_index('고객번호')
p

In [ ]:
p1 = p.copy()
p1

In [ ]:
p.info()

In [ ]:
p.values

In [ ]:
p.count()

In [ ]:
p.dtypes

In [ ]:
p =p.replace([np.inf, -np.inf], 0)
p

In [ ]:
p= p.fillna(0)
p

In [ ]:
P, Q = matrix_factorization(p.values, K=50, steps=100, learning_rate=0.01,
                           r_lambda = 0.01)
pred_matrix = np.dot(P,Q.T)

In [ ]:
p_pred_matrix = pd.DataFrame(data=pred_matrix, index=pred_matrix.index,
                                  columns = pred_matrix.columns)
p_pred_matrix.head(3)

In [ ]:
notbuy_list = get_notbuy_product(p,9)

recomm_pr = recomm_pr_by_userid(p_pred_matrix, 9, notbuy_list, top_n=20)

recomm_pr = pd.DataFrame(data=recomm_pr.values, index = recomm_pr.index,
                            columns=['pred_score'])
recomm_pr