In [1]:
import pandas as pd
import numpy as np

In [81]:
q = pd.read_csv('C:/cakd5/workspace/project/data/PRODCL2.csv')
q

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[4386 rows x 8 columns]

In [82]:
q = q.loc[q['소비재분류'] =='편의품']
q

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명  상품분류 소비재분류
0      A      1    101  A010101    일용잡화      위생세제  생활잡화   편의품
1      A      1    101  A010102    일용잡화       휴지류  생활잡화   편의품
2      A      1    101  A010103    일용잡화      뷰티상품  생활잡화   편의품
3      A      1    101  A010104    일용잡화      일용잡화  생활잡화   편의품
4      A      1    101  A010105    일용잡화      세트상품  생활잡화   편의품
...   ..    ...    ...      ...     ...       ...   ...   ...
4381   D      8    802  D080204  아이메이크업     아이섀도우   화장품   편의품
4382   D      8    802  D080205  아이메이크업    메이크업세트   화장품   편의품
4383   D      8    803  D080301   립메이크업  립스틱/립라이너   화장품   편의품
4384   D      8    803  D080302   립메이크업   립글로즈/틴트   화장품   편의품
4385   D      8    804  D080401  네일메이크업  일반네일/케어류   화장품   편의품

[2887 rows x 8 columns]

In [66]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/cakd5/workspace/project/data/라벨붙임.csv',encoding='cp949')
df = df.drop('Unnamed: 0',axis=1)
df

,고객번호,A_구매금액,기타CV_S,식료품_NET,의류_NET,생활_NET,RFM등급,휴일_CV_S,편의품_CV_S,선매품CV_S,객단가증감률,B_구매금액,C_구매금액,kmeans_label
0,1,1.367753,-0.840909,-0.144455,0.238970,-3.296500,-1.739425,-0.015794,0.382423,-0.803469,-0.912943,-0.214188,-0.135190,2
1,2,1.776146,0.201445,-0.144455,1.282634,-0.051626,-0.792279,-0.488643,0.298866,-0.848143,-0.912943,-0.234609,-0.205711,2
2,3,-0.496782,-1.569289,-0.144455,0.238970,-0.051626,-0.034562,0.466305,0.071407,2.538651,-0.203346,-0.242069,0.018349,0
3,4,-0.170812,-0.657451,-0.144455,0.238970,-0.862844,1.291443,0.288886,-0.329763,-0.532511,-0.912943,-0.181465,-0.146886,1
4,10,-0.400193,-0.190214,-0.144455,0.238970,-0.051626,-0.981708,-1.060247,-1.245738,-0.327869,-0.203346,-0.145213,0.632941,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10743,19325,-0.207098,0.126255,-0.144455,0.238970,-0.862844,0.723155,0.657320,1.350886,0.234927,0.506252,-0.222418,-0.205096,2
10744,19327,-0.498162,2.347770,-0.144455,1.282634,-0.051626,-0.413420,-0.014097,0.781941,2.607661,-0.912943,-0.239206,0.324242,0
10745,19332,-0.493328,2.347770,0.854647,1.282634,-0.051626,0.533726,0.430470,0.248380,1.333528,1.215849,-0.234873,0.748546,0
10746,19333,-0.438943,-0.713786,-0.144455,-0.804693,-0.862844,1.291443,-0.587946,0.875390,1.377105,-0.912943,-0.202690,-0.203839,0
10747,19334,-0.488963,0.055907,-1.143558,1.282634,-0.051626,-1.360567,0.129032,1.695419,0.715794,-2.332137,0.178407,-0.148936,2

In [67]:
df1 = df[df['kmeans_label']==0]
df2 = df[df['kmeans_label']==1]
df3 = df[df['kmeans_label']==2]
df1 = df1[['고객번호']]
df2 = df2[['고객번호']]
df3 = df3[['고객번호']]

In [83]:
df1

        고객번호
2          3
5         12
16        28
17        33
21        43
...      ...
10737  19309
10741  19320
10744  19327
10745  19332
10746  19333

[2571 rows x 1 columns]

In [114]:
p =pd.merge(df1,q, how='outer',left_on='고객번호',right_on='소비재분류')
p

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [109]:
p =pd.concat([df1,q], ignore_index=True)
p

      고객번호  제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명 상품분류 소비재분류
0      3.0  NaN    NaN    NaN      NaN     NaN       NaN  NaN   NaN
1     12.0  NaN    NaN    NaN      NaN     NaN       NaN  NaN   NaN
2     28.0  NaN    NaN    NaN      NaN     NaN       NaN  NaN   NaN
3     33.0  NaN    NaN    NaN      NaN     NaN       NaN  NaN   NaN
4     43.0  NaN    NaN    NaN      NaN     NaN       NaN  NaN   NaN
...    ...  ...    ...    ...      ...     ...       ...  ...   ...
5453   NaN    D    8.0  802.0  D080204  아이메이크업     아이섀도우  화장품   편의품
5454   NaN    D    8.0  802.0  D080205  아이메이크업    메이크업세트  화장품   편의품
5455   NaN    D    8.0  803.0  D080301   립메이크업  립스틱/립라이너  화장품   편의품
5456   NaN    D    8.0  803.0  D080302   립메이크업   립글로즈/틴트  화장품   편의품
5457   NaN    D    8.0  804.0  D080401  네일메이크업  일반네일/케어류  화장품   편의품

[5458 rows x 9 columns]