In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
df = pd.read_csv('./data/CV_대분류.csv',encoding = 'cp949')
df.head()

,Unnamed: 0,고객번호,편의품_CV_S,편의품_CV_C,선매품CV_S,선매품CV_C,전문품CV_S,전문품CV_C,기타CV_S,기타CV_C
0,0,1,0.423231,0.450363,0.415863,0.187114,1.356745,1.247219,0.491980,0.490667
1,1,2,0.404963,0.217903,0.395417,0.260345,2.099585,2.094437,1.196030,0.864521
2,2,3,0.355232,0.336062,1.945495,1.707825,0.000000,0.000000,0.000000,0.000000
3,3,4,0.267522,0.299495,0.539876,0.435087,2.645751,2.645751,0.615895,0.628138
4,4,6,0.336680,0.184807,0.255509,0.323405,1.282600,1.058301,0.237022,0.351850

In [3]:
import pandas as pd
df = pd.read_csv('./data/세분류_CV.csv',encoding = 'cp949')
df.head()

,Unnamed: 0,고객번호,생활잡화CV_S,생활잡화CV_C,식료품CV_S,식료품CV_C,고급식료품CV_S,고급식료품CV_C,기호품CV_S,기호품CV_C,...,레저취미CV_S,레저취미CV_C,전자제품CV_S,전자제품CV_C,도서음반CV_S,도서음반CV_C,차량용품CV_S,차량용품CV_C,사치품CV_S,사치품CV_C
0,0,1,1.540948,0.885654,0.373790,0.421108,1.703368,1.551209,1.066678,0.402776,...,1.628962,1.495363,2.013893,1.742835,0.0,0.0,0.0,0.0,1.356745,1.247219
1,1,2,1.108827,0.368856,0.289531,0.305696,2.055104,1.707825,1.018559,0.419877,...,0.509951,0.621027,1.202233,0.721569,0.0,0.0,0.0,0.0,2.099585,2.094437
2,2,3,0.624040,0.411024,0.468734,0.421179,0.000000,0.000000,0.313032,0.324466,...,0.000000,0.000000,2.645751,2.645751,0.0,0.0,0.0,0.0,0.000000,0.000000
3,3,4,0.375034,0.361020,0.346428,0.317770,1.916112,1.707825,0.631667,0.627913,...,1.620152,1.290994,0.000000,0.000000,0.0,0.0,0.0,0.0,2.645751,2.645751
4,4,6,0.441365,0.236272,0.359479,0.207556,1.826988,1.835857,1.295754,1.085715,...,2.315618,1.707825,0.000000,0.000000,0.0,0.0,0.0,0.0,1.282600,1.058301

In [ ]:
RFM테이블.csv

In [4]:
import pandas as pd
df = pd.read_csv('./data/RFM테이블.csv',encoding = 'cp949')
df.head()

   고객번호        총구매액  구매빈도  최근구매일
0     1  80397041.0   979     10
1     2  91717156.0   997      3
2     3   3037160.0  1098     10
3     4  15711888.0   823      2
4     6  22123951.0  1374      2