In [3]:
import pandas as pd
import numpy as np

In [18]:
season = pd.read_csv('C:/cakd5/workspace/project/data/분기1.csv',encoding = 'cp949')
season

,Unnamed: 0,구매평균,구매평균.1,구매평균.2,구매평균.3,구매평균.4,구매평균.5,구매평균.6,구매평균.7,구매횟수,...,구매횟수.6,구매횟수.7,총구매액,총구매액.1,총구매액.2,총구매액.3,총구매액.4,총구매액.5,총구매액.6,총구매액.7
0,분기,14_1,14_2,14_3,14_4,15_1,15_2,15_3,15_4,14_1,...,15_3,15_4,14_1,14_2,14_3,14_4,15_1,15_2,15_3,15_4
1,고객번호,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,74346.0,94942.0,85782.0,96701.0,54701.0,65837.0,120438.0,56099.0,121.0,...,73.0,78.0,8995824.0,11108203.0,12181088.0,20694107.0,9408643.0,9217176.0,8792000.0,4375707.0
3,2,75534.0,67785.0,120631.0,47573.0,128906.0,86066.0,123730.0,83327.0,184.0,...,126.0,119.0,13898280.0,10506625.0,16767689.0,6279623.0,18691374.0,9983629.0,15589936.0,9915866.0
4,3,2144.0,2703.0,2977.0,2412.0,3247.0,2523.0,3411.0,2293.0,139.0,...,139.0,93.0,297954.0,564936.0,732292.0,349742.0,282483.0,335595.0,474158.0,213238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,NaN,NaN,13383.0,12373.0,9151.0,9901.0,7498.0,10054.0,NaN,...,121.0,114.0,NaN,NaN,147213.0,940332.0,1143859.0,1356404.0,907224.0,1146146.0
19381,19380,NaN,NaN,NaN,27268.0,7941.0,9183.0,7990.0,6731.0,NaN,...,52.0,268.0,NaN,NaN,NaN,463550.0,492352.0,376522.0,415468.0,1804004.0
19382,19381,NaN,NaN,NaN,NaN,8011.0,7900.0,9066.0,5573.0,NaN,...,232.0,204.0,NaN,NaN,NaN,NaN,1137522.0,1793402.0,2103230.0,1136890.0
19383,19382,NaN,NaN,NaN,NaN,4571.0,4980.0,6173.0,3904.0,NaN,...,231.0,277.0,NaN,NaN,NaN,NaN,795327.0,1115599.0,1426011.0,1081406.0
19384,19383,NaN,NaN,NaN,NaN,NaN,5791.0,9764.0,8102.0,NaN,...,126.0,129.0,NaN,NaN,NaN,NaN,NaN,28953.0,1230238.0,1045220.0

In [21]:
season = season.fillna(0)
season = season.drop([season.index[0],season.index[1]])
season

,Unnamed: 0,구매평균,구매평균.1,구매평균.2,구매평균.3,구매평균.4,구매평균.5,구매평균.6,구매평균.7,구매횟수,...,구매횟수.6,구매횟수.7,총구매액,총구매액.1,총구매액.2,총구매액.3,총구매액.4,총구매액.5,총구매액.6,총구매액.7
4,3,2144.0,2703.0,2977.0,2412.0,3247.0,2523.0,3411.0,2293.0,139.0,...,139.0,93.0,297954.0,564936.0,732292.0,349742.0,282483.0,335595.0,474158.0,213238.0
5,4,13858.0,21722.0,32358.0,18584.0,14402.0,14599.0,20302.0,12433.0,93.0,...,118.0,107.0,1288767.0,3844763.0,2750419.0,1616792.0,1757018.0,2058510.0,2395619.0,1330359.0
6,5,16822.0,12355.0,18768.0,17668.0,23103.0,28971.0,0,24288.0,184.0,...,0,89.0,3095164.0,2384470.0,2064490.0,353350.0,2148555.0,869131.0,0,2161652.0
7,6,11101.0,16714.0,20078.0,13994.0,15444.0,18564.0,17378.0,12088.0,192.0,...,228.0,219.0,2131469.0,3209003.0,3573895.0,2616896.0,3660327.0,2970188.0,3962173.0,2647175.0
8,7,105720.0,31147.0,56629.0,142436.0,89695.0,131427.0,39357.0,126226.0,99.0,...,95.0,98.0,10466291.0,2927842.0,5323165.0,14386004.0,9238632.0,12748435.0,3738889.0,12370144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0,0,13383.0,12373.0,9151.0,9901.0,7498.0,10054.0,0,...,121.0,114.0,0,0,147213.0,940332.0,1143859.0,1356404.0,907224.0,1146146.0
19381,19380,0,0,0,27268.0,7941.0,9183.0,7990.0,6731.0,0,...,52.0,268.0,0,0,0,463550.0,492352.0,376522.0,415468.0,1804004.0
19382,19381,0,0,0,0,8011.0,7900.0,9066.0,5573.0,0,...,232.0,204.0,0,0,0,0,1137522.0,1793402.0,2103230.0,1136890.0
19383,19382,0,0,0,0,4571.0,4980.0,6173.0,3904.0,0,...,231.0,277.0,0,0,0,0,795327.0,1115599.0,1426011.0,1081406.0
19384,19383,0,0,0,0,0,5791.0,9764.0,8102.0,0,...,126.0,129.0,0,0,0,0,0,28953.0,1230238.0,1045220.0

In [13]:
season.columns

Index(['Unnamed: 0', '구매평균', '구매평균.1', '구매평균.2', '구매평균.3', '구매평균.4', '구매평균.5',
       '구매평균.6', '구매평균.7', '구매횟수', '구매횟수.1', '구매횟수.2', '구매횟수.3', '구매횟수.4',
       '구매횟수.5', '구매횟수.6', '구매횟수.7', '총구매액', '총구매액.1', '총구매액.2', '총구매액.3',
       '총구매액.4', '총구매액.5', '총구매액.6', '총구매액.7'],
      dtype='object')

In [22]:
season[['Unnamed: 0','구매횟수','구매횟수.1','구매횟수.2','구매횟수.3','구매횟수.4','구매횟수.5']]

      Unnamed: 0   구매횟수 구매횟수.1 구매횟수.2 구매횟수.3 구매횟수.4 구매횟수.5
4              3  139.0  209.0  246.0  145.0   87.0  133.0
5              4   93.0  177.0   85.0   87.0  122.0  141.0
6              5  184.0  193.0  110.0   20.0   93.0   30.0
7              6  192.0  192.0  178.0  187.0  237.0  160.0
8              7   99.0   94.0   94.0  101.0  103.0   97.0
...          ...    ...    ...    ...    ...    ...    ...
19380      19379      0      0   11.0   76.0  125.0  137.0
19381      19380      0      0      0   17.0   62.0   41.0
19382      19381      0      0      0      0  142.0  227.0
19383      19382      0      0      0      0  174.0  224.0
19384      19383      0      0      0      0      0    5.0

[19381 rows x 7 columns]

In [23]:
season = season.apply(pd.to_numeric)
season.dtypes

Unnamed: 0      int64
구매평균          float64
구매평균.1        float64
구매평균.2        float64
구매평균.3        float64
구매평균.4        float64
구매평균.5        float64
구매평균.6        float64
구매평균.7        float64
구매횟수          float64
구매횟수.1        float64
구매횟수.2        float64
구매횟수.3        float64
구매횟수.4        float64
구매횟수.5        float64
구매횟수.6        float64
구매횟수.7        float64
총구매액          float64
총구매액.1        float64
총구매액.2        float64
총구매액.3        float64
총구매액.4        float64
총구매액.5        float64
총구매액.6        float64
총구매액.7        float64
dtype: object

In [24]:
season['14_1구매경험'] = np.where(season['구매횟수']>0,'유','무')
season['14_2구매경험'] = np.where(season['구매횟수.1']>0,'유','무')
season['14_3구매경험'] = np.where(season['구매횟수.2']>0,'유','무')
season['14_4구매경험'] = np.where(season['구매횟수.3']>0,'유','무')
season['15_1구매경험'] = np.where(season['구매횟수.4']>0,'유','무')
season['15_2구매경험'] = np.where(season['구매횟수.5']>0,'유','무')
season['15_3구매경험'] = np.where(season['구매횟수.6']>0,'유','무')
season['15_4구매경험'] = np.where(season['구매횟수.7']>0,'유','무')
season

,Unnamed: 0,구매평균,구매평균.1,구매평균.2,구매평균.3,구매평균.4,구매평균.5,구매평균.6,구매평균.7,구매횟수,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
4,3,2144.0,2703.0,2977.0,2412.0,3247.0,2523.0,3411.0,2293.0,139.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,13858.0,21722.0,32358.0,18584.0,14402.0,14599.0,20302.0,12433.0,93.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
6,5,16822.0,12355.0,18768.0,17668.0,23103.0,28971.0,0.0,24288.0,184.0,...,0.0,2161652.0,유,유,유,유,유,유,무,유
7,6,11101.0,16714.0,20078.0,13994.0,15444.0,18564.0,17378.0,12088.0,192.0,...,3962173.0,2647175.0,유,유,유,유,유,유,유,유
8,7,105720.0,31147.0,56629.0,142436.0,89695.0,131427.0,39357.0,126226.0,99.0,...,3738889.0,12370144.0,유,유,유,유,유,유,유,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,13383.0,12373.0,9151.0,9901.0,7498.0,10054.0,0.0,...,907224.0,1146146.0,무,무,유,유,유,유,유,유
19381,19380,0.0,0.0,0.0,27268.0,7941.0,9183.0,7990.0,6731.0,0.0,...,415468.0,1804004.0,무,무,무,유,유,유,유,유
19382,19381,0.0,0.0,0.0,0.0,8011.0,7900.0,9066.0,5573.0,0.0,...,2103230.0,1136890.0,무,무,무,무,유,유,유,유
19383,19382,0.0,0.0,0.0,0.0,4571.0,4980.0,6173.0,3904.0,0.0,...,1426011.0,1081406.0,무,무,무,무,유,유,유,유
19384,19383,0.0,0.0,0.0,0.0,0.0,5791.0,9764.0,8102.0,0.0,...,1230238.0,1045220.0,무,무,무,무,무,유,유,유

In [25]:
season = season.drop(['구매평균','구매평균.1','구매평균.2','구매평균.3','구매평균.4','구매평균.5','구매평균.6','구매평균.7'],axis=1)
season

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
4,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
6,5,184.0,193.0,110.0,20.0,93.0,30.0,0.0,89.0,3095164.0,...,0.0,2161652.0,유,유,유,유,유,유,무,유
7,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,219.0,2131469.0,...,3962173.0,2647175.0,유,유,유,유,유,유,유,유
8,7,99.0,94.0,94.0,101.0,103.0,97.0,95.0,98.0,10466291.0,...,3738889.0,12370144.0,유,유,유,유,유,유,유,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,11.0,76.0,125.0,137.0,121.0,114.0,0.0,...,907224.0,1146146.0,무,무,유,유,유,유,유,유
19381,19380,0.0,0.0,0.0,17.0,62.0,41.0,52.0,268.0,0.0,...,415468.0,1804004.0,무,무,무,유,유,유,유,유
19382,19381,0.0,0.0,0.0,0.0,142.0,227.0,232.0,204.0,0.0,...,2103230.0,1136890.0,무,무,무,무,유,유,유,유
19383,19382,0.0,0.0,0.0,0.0,174.0,224.0,231.0,277.0,0.0,...,1426011.0,1081406.0,무,무,무,무,유,유,유,유
19384,19383,0.0,0.0,0.0,0.0,0.0,5.0,126.0,129.0,0.0,...,1230238.0,1045220.0,무,무,무,무,무,유,유,유

In [27]:
# 14년1분기에 한번이라도 구매한 고객
# 총 19054명
cus_1 = season[(season['14_1구매경험']=='유')]
cus_1.구매횟수.count()

19052

In [28]:
# 14년 1분기 평균 2948665보다 많이 산 고객 수
# 6379명
cus_3 = cus_1[(cus_1['총구매액']>=2948665)]
cus_3.구매횟수.count()

6377

In [29]:
# 14년 1분기 평균 2948665보다 적게 산 고객 수
# 12675
cus_4 = cus_1[(cus_1['총구매액']<2948665)]
cus_4.구매횟수.count()

12675

In [30]:
# 15년4분기에 한번이라도 구매한 고객
# 총 19319명
cus_2 = season[(season['15_4구매경험']=='유')]
cus_2['구매횟수.7'].count()

19317

In [31]:
# 15년 4분기 평균 3382741 더 많이 산 고객 수
# 6615명
cus_5 = cus_2[(cus_2['총구매액.6']>=3382741)]
cus_5['구매횟수.7'].count()

6613

In [32]:
# 15년 4분기 평균 2948665보다 적게 산 고객 수
# 12704
cus_6 = cus_2[(cus_2['총구매액.6']<3382741)]
cus_6['구매횟수.7'].count()

12704

여기까지가 평균내용 입니다

In [35]:
# 분기마다 구매한 고객 = 기존고객 1---6
# 총 19337명
cus = season[(season['14_1구매경험']=='유') & (season['14_2구매경험']=='유')
       & (season['14_3구매경험']=='유') & (season['14_4구매경험']=='유')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')]

cus

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
4,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
6,5,184.0,193.0,110.0,20.0,93.0,30.0,0.0,89.0,3095164.0,...,0.0,2161652.0,유,유,유,유,유,유,무,유
7,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,219.0,2131469.0,...,3962173.0,2647175.0,유,유,유,유,유,유,유,유
8,7,99.0,94.0,94.0,101.0,103.0,97.0,95.0,98.0,10466291.0,...,3738889.0,12370144.0,유,유,유,유,유,유,유,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19334,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,90.0,603348.0,...,283814.0,429998.0,유,유,유,유,유,유,유,유
19335,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,48.0,820744.0,...,546127.0,384952.0,유,유,유,유,유,유,유,유
19336,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,230.0,922771.0,...,1749762.0,1661776.0,유,유,유,유,유,유,유,유
19337,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,51.0,442432.0,...,7120188.0,4088791.0,유,유,유,유,유,유,유,유
19338,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,267.0,16257.0,...,1370020.0,915458.0,유,유,유,유,유,유,유,유

In [36]:
cus1 = season[(season['14_1구매경험']=='유') & (season['14_2구매경험']=='유')  # 1----7
       & (season['14_3구매경험']=='유') & (season['14_4구매경험']=='유')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유')]
cus1

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
4,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
7,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,219.0,2131469.0,...,3962173.0,2647175.0,유,유,유,유,유,유,유,유
8,7,99.0,94.0,94.0,101.0,103.0,97.0,95.0,98.0,10466291.0,...,3738889.0,12370144.0,유,유,유,유,유,유,유,유
9,8,162.0,223.0,263.0,190.0,268.0,257.0,279.0,223.0,6328574.0,...,8799609.0,8419055.0,유,유,유,유,유,유,유,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19334,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,90.0,603348.0,...,283814.0,429998.0,유,유,유,유,유,유,유,유
19335,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,48.0,820744.0,...,546127.0,384952.0,유,유,유,유,유,유,유,유
19336,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,230.0,922771.0,...,1749762.0,1661776.0,유,유,유,유,유,유,유,유
19337,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,51.0,442432.0,...,7120188.0,4088791.0,유,유,유,유,유,유,유,유
19338,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,267.0,16257.0,...,1370020.0,915458.0,유,유,유,유,유,유,유,유

In [28]:
av = season[(season['총구매액'])]
av

KeyError: "None of [Float64Index([ 8995824.0, 13898280.0,   297954.0,  1288767.0,  3095164.0,\n               2131469.0, 10466291.0,  6328574.0, 14134569.0,  2504458.0,\n              ...\n                     0.0,        0.0,        0.0,        0.0,        0.0,\n                     0.0,        0.0,        0.0,        0.0,        0.0],\n             dtype='float64', length=19383)] are in the [columns]"

In [17]:
a = season[(season['14_1구매경험']=='무') | (season['14_2구매경험']=='무')
       | (season['14_3구매경험']=='무') | (season['14_4구매경험']=='무')
       | (season['15_1구매경험']=='무') | (season['15_2구매경험']=='무')
       | (season['15_3구매경험']=='무') | (season['15_4구매경험']=='무')]
a

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
6,5,184.0,193.0,110.0,20.0,93.0,30.0,0.0,89.0,3095164.0,...,0.0,2161652.0,유,유,유,유,유,유,무,유
143,142,2.0,4.0,0.0,3.0,1.0,1.0,2.0,3.0,188939.0,...,148662.0,159257.0,유,유,무,유,유,유,유,유
175,174,20.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,380339.0,...,0.0,0.0,유,무,무,무,무,유,무,무
245,244,0.0,65.0,74.0,103.0,148.0,160.0,233.0,188.0,0.0,...,13265632.0,5988378.0,무,유,유,유,유,유,유,유
461,460,40.0,106.0,146.0,81.0,66.0,46.0,0.0,0.0,2577392.0,...,0.0,0.0,유,유,유,유,유,유,무,무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,11.0,76.0,125.0,137.0,121.0,114.0,0.0,...,907224.0,1146146.0,무,무,유,유,유,유,유,유
19381,19380,0.0,0.0,0.0,17.0,62.0,41.0,52.0,268.0,0.0,...,415468.0,1804004.0,무,무,무,유,유,유,유,유
19382,19381,0.0,0.0,0.0,0.0,142.0,227.0,232.0,204.0,0.0,...,2103230.0,1136890.0,무,무,무,무,유,유,유,유
19383,19382,0.0,0.0,0.0,0.0,174.0,224.0,231.0,277.0,0.0,...,1426011.0,1081406.0,무,무,무,무,유,유,유,유
19384,19383,0.0,0.0,0.0,0.0,0.0,5.0,126.0,129.0,0.0,...,1230238.0,1045220.0,무,무,무,무,무,유,유,유

In [18]:
# 신규고객
new = season[((season['14_1구매경험']=='무') & (season['14_2구매경험']=='유')
       & (season['14_3구매경험']=='유') & (season['14_4구매경험']=='유')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')) |
      ((season['14_1구매경험']=='무') & (season['14_2구매경험']=='무')
       & (season['14_3구매경험']=='유') & (season['14_4구매경험']=='유')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')) |
      ((season['14_1구매경험']=='무') & (season['14_2구매경험']=='무')
       & (season['14_3구매경험']=='무') & (season['14_4구매경험']=='유')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')) |
      ((season['14_1구매경험']=='무') & (season['14_2구매경험']=='무')
       & (season['14_3구매경험']=='무') & (season['14_4구매경험']=='무')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')) |
      ((season['14_1구매경험']=='무') & (season['14_2구매경험']=='무')
       & (season['14_3구매경험']=='무') & (season['14_4구매경험']=='무')
       & (season['15_1구매경험']=='무') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')) |
      ((season['14_1구매경험']=='무') & (season['14_2구매경험']=='무')
       & (season['14_3구매경험']=='무') & (season['14_4구매경험']=='무')
       & (season['15_1구매경험']=='무') & (season['15_2구매경험']=='무')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')) |
      ((season['14_1구매경험']=='무') & (season['14_2구매경험']=='무')
       & (season['14_3구매경험']=='무') & (season['14_4구매경험']=='무')
       & (season['15_1구매경험']=='무') & (season['15_2구매경험']=='무')
       & (season['15_3구매경험']=='무') & (season['15_4구매경험']=='유'))]
new

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
245,244,0.0,65.0,74.0,103.0,148.0,160.0,233.0,188.0,0.0,...,13265632.0,5988378.0,무,유,유,유,유,유,유,유
1068,1067,0.0,75.0,180.0,202.0,168.0,209.0,213.0,200.0,0.0,...,7484365.0,7413201.0,무,유,유,유,유,유,유,유
1122,1121,0.0,4.0,63.0,80.0,102.0,132.0,129.0,114.0,0.0,...,14415616.0,8479934.0,무,유,유,유,유,유,유,유
1644,1643,0.0,60.0,254.0,254.0,307.0,247.0,240.0,207.0,0.0,...,3279125.0,3239513.0,무,유,유,유,유,유,유,유
1876,1875,0.0,0.0,87.0,130.0,153.0,208.0,171.0,142.0,0.0,...,1806279.0,3619081.0,무,무,유,유,유,유,유,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,11.0,76.0,125.0,137.0,121.0,114.0,0.0,...,907224.0,1146146.0,무,무,유,유,유,유,유,유
19381,19380,0.0,0.0,0.0,17.0,62.0,41.0,52.0,268.0,0.0,...,415468.0,1804004.0,무,무,무,유,유,유,유,유
19382,19381,0.0,0.0,0.0,0.0,142.0,227.0,232.0,204.0,0.0,...,2103230.0,1136890.0,무,무,무,무,유,유,유,유
19383,19382,0.0,0.0,0.0,0.0,174.0,224.0,231.0,277.0,0.0,...,1426011.0,1081406.0,무,무,무,무,유,유,유,유
19384,19383,0.0,0.0,0.0,0.0,0.0,5.0,126.0,129.0,0.0,...,1230238.0,1045220.0,무,무,무,무,무,유,유,유

In [19]:
import warnings
warnings.filterwarnings('ignore')
new['총구매액수'] = new['총구매액']+new['총구매액.1']+new['총구매액.2']+new['총구매액.3']+new['총구매액.4']+new['총구매액.5']+new['총구매액.6']+new['총구매액.7']
new = new.drop(['총구매액','총구매액.1','총구매액.2','총구매액.3','총구매액.4','총구매액.5','총구매액.6','총구매액.7'],axis=1)
new

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험,총구매액수
245,244,0.0,65.0,74.0,103.0,148.0,160.0,233.0,188.0,무,유,유,유,유,유,유,유,39957102.0
1068,1067,0.0,75.0,180.0,202.0,168.0,209.0,213.0,200.0,무,유,유,유,유,유,유,유,41839191.0
1122,1121,0.0,4.0,63.0,80.0,102.0,132.0,129.0,114.0,무,유,유,유,유,유,유,유,65047834.0
1644,1643,0.0,60.0,254.0,254.0,307.0,247.0,240.0,207.0,무,유,유,유,유,유,유,유,19588160.0
1876,1875,0.0,0.0,87.0,130.0,153.0,208.0,171.0,142.0,무,무,유,유,유,유,유,유,11509549.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,11.0,76.0,125.0,137.0,121.0,114.0,무,무,유,유,유,유,유,유,5641178.0
19381,19380,0.0,0.0,0.0,17.0,62.0,41.0,52.0,268.0,무,무,무,유,유,유,유,유,3551896.0
19382,19381,0.0,0.0,0.0,0.0,142.0,227.0,232.0,204.0,무,무,무,무,유,유,유,유,6171044.0
19383,19382,0.0,0.0,0.0,0.0,174.0,224.0,231.0,277.0,무,무,무,무,유,유,유,유,4418343.0
19384,19383,0.0,0.0,0.0,0.0,0.0,5.0,126.0,129.0,무,무,무,무,무,유,유,유,2304411.0

In [20]:
new['총구매횟수'] = new['구매횟수']+new['구매횟수.1']+new['구매횟수.2']+new['구매횟수.3']+new['구매횟수.4']+new['구매횟수.5']+new['구매횟수.6']+new['구매횟수.7']
new = new.drop(['구매횟수','구매횟수.1','구매횟수.2','구매횟수.3','구매횟수.4','구매횟수.5','구매횟수.6','구매횟수.7'],axis=1)
new

,Unnamed: 0,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험,총구매액수,총구매횟수
245,244,무,유,유,유,유,유,유,유,39957102.0,971.0
1068,1067,무,유,유,유,유,유,유,유,41839191.0,1247.0
1122,1121,무,유,유,유,유,유,유,유,65047834.0,624.0
1644,1643,무,유,유,유,유,유,유,유,19588160.0,1569.0
1876,1875,무,무,유,유,유,유,유,유,11509549.0,891.0
...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,무,무,유,유,유,유,유,유,5641178.0,584.0
19381,19380,무,무,무,유,유,유,유,유,3551896.0,440.0
19382,19381,무,무,무,무,유,유,유,유,6171044.0,805.0
19383,19382,무,무,무,무,유,유,유,유,4418343.0,906.0
19384,19383,무,무,무,무,무,유,유,유,2304411.0,260.0

In [21]:
new['평균구매액수'] = new['총구매액수'] / new['총구매횟수']
new

,Unnamed: 0,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험,총구매액수,총구매횟수,평균구매액수
245,244,무,유,유,유,유,유,유,유,39957102.0,971.0,41150.465499
1068,1067,무,유,유,유,유,유,유,유,41839191.0,1247.0,33551.877306
1122,1121,무,유,유,유,유,유,유,유,65047834.0,624.0,104243.323718
1644,1643,무,유,유,유,유,유,유,유,19588160.0,1569.0,12484.486934
1876,1875,무,무,유,유,유,유,유,유,11509549.0,891.0,12917.563412
...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,무,무,유,유,유,유,유,유,5641178.0,584.0,9659.551370
19381,19380,무,무,무,유,유,유,유,유,3551896.0,440.0,8072.490909
19382,19381,무,무,무,무,유,유,유,유,6171044.0,805.0,7665.893168
19383,19382,무,무,무,무,유,유,유,유,4418343.0,906.0,4876.758278
19384,19383,무,무,무,무,무,유,유,유,2304411.0,260.0,8863.119231